.header {
	padding: $s-md;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		display: none;
	}
	&__logo {
		&--mobile {
			display: none;
		}
		svg {
			path {
				transition: $t-normal;
			}
		}
		&:hover {
			svg path {
				fill: $c-red;
			}
		}
	}
	&__search {
		position: relative;
		width: 60%;
		padding: $s-sm 0;
		border-bottom: 1px solid $c-primary;
		input {
			width: 100%;
			border: none;
			cursor: text;
		}
		button {
			position: absolute;
			right: 0;
			top: $s-sm;
			transition: $t-normal;
			svg path {
				transition: $t-normal;
			}
		}
		&:hover {
			button {
				svg path {
					fill: $c-red;
				}
				
			}
		}
	}
	&__account {
		a {
			display: flex;
			align-items: flex-end;
			svg {
				margin-right: $s-xs;
				path {
					transition: $t-normal;
				}
			}
			span {
				color: $c-primary;
				transition: $t-normal;
			}
			&:hover {
				svg path{
					fill: $c-red;
				}
				span {
					color: $c-red;
				}				
			}
		}
	}
	&__minicart {
		.minicart {
			display: flex;
			align-items: flex-end;
			svg {
				margin-right: $s-xs;
				path {
					transition: $t-normal;

				}
			}
			&__counter {
				background: $c-red;
				color: $c-white;
				border-radius: 100%;
				width: 14px;
				height: 14px;
				text-align: center;
				font-size: $f-size-xs;
				padding: 2px 0;
			}
			&:hover {
				svg path{
					fill: $c-red;
				}
			}
		}
	}
}

@include tablet { 	
	.header {
		.container {
			display: block;
			position: relative;
		}
		&__logo {
			text-align: center;
			&--desktop {
				display: none;
			}
			&--mobile {
				display: block;
			}
		}
		&__account {
			display: none;
		}
		&__minicart {
			position: absolute;
			right: 0;
			top: 10px;
		}
		&__menu {
			display: block;
			position: absolute;
			left: 0;
			top: 10px;
		}
		&__search {
			width: 100%;
			padding: 18px 0 $s-xs;
			button {
				top: unset;
				bottom: 5px;
			}
		}
	}			
}	
