.shelf {
	margin: 0 -45px;
	&__flag {
		position: absolute;
		right: 40px;
		top: 0;
		font-size: 0;
		&--off {
			display: block;
			content: '';
			background-image: url('../img/flag-off.png');
			background-size: contain;
			background-repeat: no-repeat;	
			width: 81px;
			height: 72px;		
		}
	}
	&__buybutton {
		opacity: 0;
		transition: $t-normal;
		width: 100%;
		max-width: 125px;
		margin-top: 8px;
		text-align: center;
		height: 32px;
		background: $c-black;
		border-radius: 5px;
		font-size: $f-size-sm;
		color: $c-white;
		text-transform: uppercase;
		&:hover {
			background: $c-red;
		}
		&--buy {
			font-size: 0;
			&:after {
				content: 'remover';
				font-size: $f-size-sm;
			}
		}
	}
	&__content {
		padding: 15px 0 25px;
		text-align: center;
		transition: $t-normal;
		background: $c-white;
		span {
			display: block;
		}
	}
	&__item {
		padding: 0 40px;
		position: relative;
		&:hover {
			.shelf__buybutton {
				opacity: 1;
			}
			.shelf__content {
				background: #E6E8EA;
			}
		}

	}
	&__image {
		width: 100%;
		height: auto;
	}

	&__name {
		color: $c-primary;
		font-size: $f-size-sm;
		text-transform: uppercase;
	}
	&__rating {
		content: '';
		margin: $s-sm auto;
		font-size: 0;
		background-size: contain;
		background-repeat: no-repeat;
		width: 68px;
		height: 11px;
		&--1 {
			background-image: url('../img/Rating-1.png');
		}
		&--2 {
			background-image: url('../img/Rating-2.png');
		}
		&--3 {
			background-image: url('../img/Rating-3.png');
		}
		&--4 {
			background-image: url('../img/Rating-4.png');
		}
		&--5 {
			background-image: url('../img/Rating-5.png');
		}
	}
	&__bestprice {
		color: $c-black;
		font-weight: 700;
		font-size: $f-size-lg;
		margin: $s-xs 0;
	}
	&__listprice {
		color: $c-primary;
		font-size: $f-size-sm;
		min-height: 12px;
		span {
			display: inline-block;
			text-decoration: line-through;
		}
	}
	&__installments {
		min-height: 12px;
		font-size: 11px;
		color: $c-primary;
	}
}

@include tablet {
	.shelf {
		margin: 0;
		&__item {
			padding: 0 12px;
		}
		&__buybutton {
			opacity: 1;
		}
		&__flag {
			right: 12px;
		}
	}
}