.slick-slider {
	.slick-arrow {
		font-size: 0;
		display: block;
		position: absolute;
		top: calc(50% - 22px);
		z-index: 5;
		transition: $t-normal;
		&:after {
			content: '';
			display: block;
			background-image: url('../img/arrow.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 22px;
			height: 22px;;

		}
		&:hover {
			opacity: .5;
		}
	}
	.slick-prev {
		left: 0;
		&:after {
			transform: rotate(-180deg);

		}
	}
	.slick-next {
		right: 0;
	}
	.slick-dots {
		position: absolute;
		bottom: 15px;
		left: 0;
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 6px;
			button {
				font-size: 0;
				width: 10px;
				height: 10px;
				background: #BDBDBD;
				border-radius: 100%;
			}
			&.slick-active {
				button {
					background: $c-red;
				}
			}
		}
	}
}