.home {
	&__banner {
		margin-bottom: 15px;
		&--desktop {
			display: none;
		}
		img {
			width: 100%;
			height: auto;
		}
		a + a {
			display: none;
		}
	}
	&__shelf {
		margin-bottom: $s-xh;
		h2 {
			font-size: 20px;
			margin-bottom: $s-md;
			font-weight: 700;
			color: $c-black;
			&:after {
				margin-top: 16px;
				content: '';
				display: block;
				width: 100%;
				max-width: 45px;
				height: 5px;
				background: #C0C0C0;
				transition: $t-normal;;
			}		
		}
		&:hover {
			h2 {
				&:after {
					max-width: 65px;
					background: $c-red;
				}
			}
		}
	}
	@include desktop {
		&__banner {
			margin-bottom: 25px;
			&--desktop {
				display: block;
			}
			&--mobile {
				display: none;
			}
		}	
	}
	@include tablet {
		&__shelf {
			h2 {
				padding-left: 12px;
			}
			.slick-dots {
				bottom: -15px;
			}
		}	

	}
}

