// Footer
.footer
  .footer__newsletter
    .container.container--form
      h3 Participe de nossas news com promoções e novidades!
      form#newsletter
        div
          input#name(type='text' placeholder='Digite seu nome')
          span Preencha com seu nome completo
        div
          input#email(type='email' placeholder='Digite seu email')
          span Preencha com um e-mail válido
        button(type='submit') Eu quero!
    .container.container--success
      h4 Seu e-mail foi cadastrado com sucesso!
      p A partir de agora você receberá as novidade e ofertas exclusivas.
      button.newsletter-reset(type='button') Cadastrar novo e-mail
  .footer__main
    .container
      .footer__area.footer__area--location
        h3 Localização
        a(href='https://www.google.com/maps/place/Av.+Andr%C3%B4meda,+2000+-+6+e+8+-+Alphaville+Empresarial,+Barueri+-+SP,+06473-000/data=!4m2!3m1!1s0x94cf03b26b71e089:0xa0ecd33335d137f7?sa=X&ved=2ahUKEwj18b-YrenxAhXtqZUCHdJEAWoQ8gEwAHoECAQQAQ' title='Ver no mapa' target='_blank')
          p Avenida Andrômeda, 2000. Bloco 6 e 8 
          p Alphavile SP
        a(href='mailto:brasil@corebiz.ag') brasil@corebiz.ag
        a(href='tel:+551130901039') +55 11 3090 1039
      .footer__area.footer__area--contact
        a(href='mailto:brasil@corebiz.ag')
          include ../svg/icon-mail.svg
          span ENTRE EM CONTATO
        a(href='mailto:brasil@corebiz.ag')
          include ../svg/icon-atendimento.svg
          span FALE COM O NOSSO CONSULTOR ONLINE
      .footer__area.footer__area--powered
        a(href='https://www.corebiz.ag/pt/' tile='Corebiz, we are global.' target='_blank')
          include ../svg/icon-corebiz-powered.svg
        a(href='https://vtex.com/' title='Vtex' target='_blank')
          include ../svg/icon-vtex-powered.svg