//header
.header 
  .container
    button.header__menu(type='button')
      include ../svg/icon-menu.svg
    a.header__logo(href='/' title='Corebiz')
      h1 
        | Corebiz
        include ../svg/site-logo-corebiz-preto-cinza.svg
        include ../svg/site-logo-corebiz-mobile.svg
    form.header__search(action='/busca')
      input(type='text' placeholder='O que está procurando?' name="q")
      button(type='submit')
        include ../svg/icon-search.svg
    .header__account
      a(href='#account')
        include ../svg/icon-user.svg
        span Minha Conta
    .header__minicart
      a.minicart(href='#minicart')
        include ../svg/icon-cart.svg
        .minicart__counter
          span 0