//header
.header 
  .container
    button.header__menu(type='button')
      include ../svg/icon-menu.svg
    a.header__logo.header__logo--desktop(href='/' title='Corebiz')
      include ../svg/site-logo-corebiz-preto-cinza.svg
    a.header__logo.header__logo--mobile(href='/' title='Corebiz')
      include ../svg/site-logo-corebiz-mobile.svg
    .header__search
      input(type='text' placeholder='O que está procurando?')
      button(type='button')
        include ../svg/icon-search.svg
    .header__account
      a(href='#account')
        include ../svg/icon-user.svg
        span Minha Conta
    .header__minicart
      a.minicart(href='#minicart')
        include ../svg/icon-cart.svg
        .minicart__counter
          span 0